<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>About</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<div class="box">
  <h1>About</h1>
  <p>Simple To Do List App using Node.js, Express and EJS.</p>
</div>

</body>
</html>